@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospisim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospisim.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap align-items-center justify-content-center">
            <ul class="nav nav-pills">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link @(currentController == "Home" ? "active" : "")">Home</a></li>
                <li class="nav-item"><a asp-controller="Pacientes" asp-action="Index" class="nav-link @(currentController == "Pacientes" ? "active" : "")">Pacientes</a></li>
                <li class="nav-item"><a asp-controller="AltaHospitalars" asp-action="Index" class="nav-link @(currentController == "AltaHospitalars" ? "active" : "")">Alta Hospitalar</a></li>
                <li class="nav-item"><a asp-controller="Atendimentoes" asp-action="Index" class="nav-link @(currentController == "Atendimentoes" ? "active" : "")">Atendimentos</a></li>
                <li class="nav-item"><a asp-controller="Exames" asp-action="Index" class="nav-link @(currentController == "Exames" ? "active" : "")">Exames</a></li>
                <li class="nav-item"><a asp-controller="Internacaos" asp-action="Index" class="nav-link @(currentController == "Internacaos" ? "active" : "")">Internação</a></li>
                <li class="nav-item"><a asp-controller="Prescricaos" asp-action="Index" class="nav-link @(currentController == "Prescricaos" ? "active" : "")">Prescrição</a></li>
                <li class="nav-item"><a asp-controller="ProfissionalSaudes" asp-action="Index" class="nav-link @(currentController == "ProfissionalSaudes" ? "active" : "")">Profissional</a></li>
                <li class="nav-item"><a asp-controller="Prontuarios" asp-action="Index" class="nav-link @(currentController == "Prontuarios" ? "active" : "")">Prontuário</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - Hospisim - Hugo Valuar Bailona <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>